from HDR.common_settings import *

SECRET_KEY = 'SET_SECRET_KEY'

DEBUG = True
TEMPLATE_DEBUG = True

ALLOWED_HOSTS = []

STATIC_ROOT = os.path.join(ENV_PATH, 'static')
MEDIA_ROOT = os.path.join(ENV_PATH, 'media')

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'